/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: white;
$navbar-default-link-active-color: #5AADBB;
$navbar-default-link-hover-color: #00e5b4;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

//.linkBar-default .linkBar-collapse, .linkBar-default .linkBar-form {
//  background-color: transparent;
//  border-radius: 3px 3px 0 0;
//  box-shadow: 0 1px rgba(255, 255, 255, 0.1);
//}
//
//.linkBar-brand {
//  float: left;
//  padding: 15px 15px;
//  font-size: 18px;
//  line-height: 20px;
//  height: 50px;
//}


@font-face {
  font-family: gotham-book;
  src: url("../assets/fonts/gotham-book.otf");
}

@font-face {
  font-family: gotham-bold;
  src: url("../assets/fonts/gotham-bold.ttf");
}

html, body {
  background: #000000 url("../assets/images/Background.jpg") no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  font-family: gotham-book, Helvetica, Arial, sans-serif;
  color: #818181;
}

a:link {
  outline : none;
  color: white;
}

a:visited {
  outline : none;
  color: white;
}

a:hover {
  outline : none;
  color: white;
}

a:focus {
  outline : none;
  color: white;
}

a:active {
  outline : none;
  color: white;
}

.jumbotron {
  background-color: inherit;
}

.container-full-bg {
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-position: center;
  background-size: cover;
}

.container-full-bg .container, .container-full-bg .container .jumbotron {
  height: 100%;
  width: 100%;
}

.vertical-center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .k-page {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 105px);
    background-color: transparent;
  }
}

@media only screen and (min-width: 768px) {
  .k-page {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 60px);
    background-color: transparent;
  }
}

.k-title {
  position:absolute;
  width:100px;
  height:auto;
  top:50px;
  left:50px;
}

.k-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 90px;
  background-color: rgba(0, 0, 0, 0.0);
  color: white;
  font-size: 11px;
  //background-color: #f5f5f5;
}

.kFooter-xs {
  height: 44px;
}

.top-buffer {
  padding-top: 20px;
}

.neoLogo {
  height: auto;
  width: auto;
  //min-width:100px !important;
  min-height: 70px !important;
  max-height: 70px !important;
  padding-top: 15px;
  padding-bottom: 15px
}

.jetbrainsLogo {
  height: auto;
  width: auto;
  //min-width:100px !important;
  min-height: 100px !important;
  max-height: 100px !important;
  padding-top: 0px;
  padding-bottom: -10px
}

@import "profiles.scss";

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
