/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

//.linkBar-default .linkBar-collapse, .linkBar-default .linkBar-form {
//  background-color: transparent;
//  border-radius: 3px 3px 0 0;
//  box-shadow: 0 1px rgba(255, 255, 255, 0.1);
//}
//
//.linkBar-brand {
//  float: left;
//  padding: 15px 15px;
//  font-size: 18px;
//  line-height: 20px;
//  height: 50px;
//}


@font-face {
  font-family: gotham-book;
  src: url("../assets/fonts/gotham-book.otf");
}

@font-face {
  font-family: gotham-bold;
  src: url("../assets/fonts/gotham-bold.ttf");
}

html, body {
  background: #000000 url("../assets/images/Background.jpg") no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  font-family: gotham-book, Helvetica, Arial, sans-serif;
  color: #818181;
  font-size: 1vw;
}

.container-full-bg {
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-position: center;
  background-size: cover;
}

.container-full-bg .container, .container-full-bg .container .jumbotron {
  height: 100%;
  width: 100%;
}

.vertical-center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .k-page {
    margin-bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    background-color: transparent;
  }
}

@media only screen and (min-width: 768px) {
  .k-page {
    /* Margin bottom by footer height */
    margin-bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    background-color: transparent;
  }
}

.k-title {
  position:absolute;
  width:7vw;
  height:auto;
  top:3.2vw;
  left:3.2vw;
}

.k-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.0);
  color: white;
  z-index: 100;
  //background-color: #f5f5f5;
}

.neoLogo {
  height: auto;
  width: auto;
  //min-width:100px !important;
  min-height: 8vh !important;
  max-height: 8vh !important;
  padding-top: 15px;
  padding-bottom: 15px
}

.jetbrainsLogo {
  height: auto;
  width: auto;
  //min-width:100px !important;
  min-height: 12vh !important;
  max-height: 12vh !important;
  padding-top: 0px;
  padding-bottom: -1vh;
}

@import "kudos";

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
