.community-member-container {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 0 0;
  min-width: 22vw !important;
  max-height: 36vw !important;

  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.main-loader {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  margin: auto;
}

.card {
  margin-left: -1.3vw;
  margin-right: -1.3vw;
  padding: 2vw;
  background-color: rgba(214, 224, 226, 0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card.hovercard {
  height: 80%;
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: transparent;
}

.card.hovercard .photo-container {
  height: 20vw;
}

.card.hovercard .featuredAvatar {
  position: absolute;
  top: 1vw;
  left: 0;
  right: 0;
  opacity: 1.0;
}

.card.hovercard .featuredAvatar img {
  width: 20vw;
  height: 20vw;
  max-width: 20vw;
  max-height: 20vw;

  border: double 0.5vw transparent;
  border-radius: 50%;
  background-image: linear-gradient(#fb2046, #5848f4), radial-gradient(circle at top left, #fb2046,#5848f4);
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;

}

.title-label {
  font-size: 1.6vw;
  color: #ffffff;
  font-family: e-din-lt, sans-serif;
  font-weight: bolder;
  //background-color: red;
  width: 100%;
  height: auto;
  min-width: 200px !important;
  min-height: 30px !important;
}

.biography {
  font-size: 1vw;
  //line-height: 1;
  color: #ffffff;
  font-weight: normal;
  //background-color: orange;
  width: 100%;
  height: auto;
  min-width: 200px !important;
  min-height: 30px !important;
}

.kudos-1 {
  width: 22vw;
  height: 22vw;
  padding: 0;
  margin-top: 3.5vw;
  margin-left: 3.5vw;
  /*	border : 1px solid red; */
}

.kudos-2 {
  width: 24.5vw;
  height: 24.5vw;
  padding: 0;
  margin-top: 3vw;
  margin-left: 3.2vw;
  /*	border : 1px solid red; */
}

.kudos-3 {
  width: 22.5vw;
  height: 22.5vw;
  padding: 0;
  margin-top: 5vw;
  margin-left: 3.2vw;
  /*	border : 1px solid red; */
}

.kudos-4 {
  width: 23vw;
  height: 23vw;
  padding: 0;
  margin-top: 3.5vw;
  margin-left: 5vw;
  /*	border : 1px solid red; */
}

/* Circle Main draws the actual circle */
.circle_main {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0;
  padding: 0;
}

/* Circle Text Container - constrains text area to within the circle */
.tweet-text {
  /* area constraints */
  width: 70%;
  height: 70%;
  max-width: 70%;
  max-height: 70%;
  margin: 0;
  padding: 0;

  /* some position nudging to center the text area */
  position: relative;
  left: 15%;
  top: 8%;

  /* preserve 3d prevents blurring sometimes caused by the text centering in the next class */
  transform-style: preserve-3d;

  /*border : 1px solid green;*/
}

/* Circle Text - the appearance of the text within the circle plus vertical centering */
.circle_text {
  /* change font/size/etc here */
  color: white;
  text-align: left;

  /* vertical centering technique */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


.hashtag-label {
  font-size: 1.15vw;
  font-family: gotham-bold, Helvetica, Arial, sans-serif;
  font-weight: bold;
  position: relative;
  max-width: 55%;
  top: 20%;
  left:15%;
}

.tweeter-label {
  font-size: 1.15vw;
  color: white;
  font-family: gotham-bold, Helvetica, Arial, sans-serif;
  font-weight: bold;
  position: relative;
  top: 20%;
  left:15%;
}

.blue {
  color: #5848f4;
}

.crimson {
  color: #fb2046;
}