<!-- Footer -->
<footer class="k-footer hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col col-xs-6 text-center" style="height: 80px">

            </div>
            <div class="col col-xs-6" style="background-color: transparent">
                <div class="vertical-center text-right">
                    <ul class="list-inline">
                        <li>
                            <a target="_blank" href="https://www.neo4j.com">
                                <img class="neoLogo" src="assets/images/neo4j_white.png">
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.jetbrains.com/">
                                <img class="jetbrainsLogo" src="assets/images/jetbrains.png">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

